@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');

.left {
    height: 100vh;
}

.title {
    font-family: 'Alegreya', serif;
    font-size: 30px;
    margin-top: 15px;
}

.summary {
    font-size: 16px;
    color: #868B90;
}

.logo  img{
    width: 60px;
    margin-left: -5%;
}

form {
    width: 100%;
}

form .signin {
    width: 100%;
    border-radius: 8px;
}

.kartu {
    width: 70%;
    height: auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 25px;
    margin-top: 30px;
}

.forgot {
    float: right;
}

.forgot a {
    text-decoration: underline;
    color: #868B90;
    font-size: 14px;
}

label {
    color: #868B90;
}

form .form-control {
    border-radius: 8px;
    padding: 15px;
}

.newaccount {
    text-align: center;
    padding-top: 20px;
}

.newaccount a {
    color:  #868B90;
    text-decoration: underline;
}

.left {
    width: 110%;
    padding-left: 10%;
    padding-top: 2%;
}

.right {
    background-color: #4424A7;
    width: 100%;
}

.right .eclipse-top {
    position: relative;
    top: -10px;
    left: -48px;
}

.right .eclipse-top img {
    width: 150px;
}

.right .eclipse-bottom {
    position: relative;
    float: right;
    top: 340px;
}

.right .eclipse-bottom img {
    width: 150px;
}

.right .ilustration {
    width: 68%;
    padding-left: 25%;
    padding-top: 10%;
}

.right .ilustration img {
    width: 230px;
}

.right .ilustration .text  {
    text-align: center;
    padding-top: 20px;
}

.right .ilustration .text h4 {
    color: #fff;
}

.right .ilustration .text p {
    color: #B7A9E3;
}

@media (max-width: 800px){
    .right {
        display: none;
    }

    .kartu {
        width: 120%;
    }

}